{% macro label(field, tag='label') %}
    {% if use_tag %}
        <{{ tag }}
        {% include 'django/forms/attrs.jinja' %}
        class="block text-sm font-medium text-gray-700">{{ field.label }}</{{ tag }}>
    {% else %}
        {{ field.label }}
    {% endif %}
{% endmacro %}
