{% macro button(button_content='Button', dispatch_name='click', variant='normal', color='neutral', shape='rounded', size='md', type='button') %}
    {# Variant support: normal, outline #}
    {# Color support: primary, secondary, accent #}
    {# Shape support: rounded, square, circle #}
    {# Size support: xs, sm, md, lg, xl #}
    {% set class="inline-flex items-center shadow-sm font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-"+color+"-600" %}
    {% if variant == 'normal' %}
        {% set class = class + " border border-transparent" %}
    {% elif variant == 'outline' %}
        {% set class = class + "border border-" + color + '-700' %}
    {% endif %}
    {% if size == 'xs' %}
        {% set class = class + " px-2.5 py-1.5 text-xs" %}
    {% elif size == 'sm' %}
        {% set class = class + " px-3 py-2 text-sm" %}
    {% elif size == 'md' %}
        {% set class = class + " px-4 py-2 text-sm" %}
    {% elif size == 'lg' %}
        {% set class = class + " px-4 py-2 text-base" %}
    {% elif size == 'xl' %}
        {% set class = class + " px-6 py-3 text-base" %}
    {% endif %}
    {% if shape == 'rounded' %}
        {% set class = class + " rounded" %}
    {% elif shape == 'circle' %}
        {% set class = class + 'rounded-full' %}
    {% endif %}
    {% set class = class + " text-white bg-" + color + '-500 hover:bg-' + color + '-600' %}
    <button type="{{ type }}"
            x-on:click="$dispatch('{{ dispatch_name }}')"
            class="{{ class }}">
        {{ button_content }}
    </button>
{% endmacro %}
{#
text-neutral-content bg-neutral-500 hover:bg-neutral-600 border-neutral-700 focus:ring-neutral-600
text-primary-content bg-primary-500 hover:bg-primary-600 border-primary-700 focus:ring-primary-600
text-secondary-content bg-secondary-500 hover:bg-secondary-600 border-secondary-700 focus:ring-secondary-600
text-accent-content bg-accent-500 hover:bg-accent-600 border-accent-700 focus:ring-accent-600
#}
