{% macro button(button_content='Button', dispatch_name='button-click', variant='normal', color='primary', shape='rounded', size='md', type='button') %}
    {# Variant support: normal, outline #}
    {# Color support: primary, secondary, accent, success, info, warning, error #}
    {# Shape support: rounded, square, circle #}
    {# Size support: xs, sm, md, lg, xl #}
    {% set class="inline-flex items-center shadow-sm font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-"+color+"-600" %}
    {% if variant == 'normal' %}
        {% set class = class + " border border-transparent" %}
    {% elif variant == 'outline' %}
        {% set class = "{} border border-{}-focus".format(class, color) %}
    {% endif %}
    {% if size == 'xs' %}
        {% set class = class + " px-2.5 py-1.5 text-xs" %}
    {% elif size == 'sm' %}
        {% set class = class + " px-3 py-2 text-sm" %}
    {% elif size == 'md' %}
        {% set class = class + " px-4 py-2 text-sm" %}
    {% elif size == 'lg' %}
        {% set class = class + " px-4 py-2 text-base" %}
    {% elif size == 'xl' %}
        {% set class = class + " px-6 py-3 text-base" %}
    {% endif %}
    {% if shape == 'rounded' %}
        {% set class = class + " rounded" %}
    {% elif shape == 'circle' %}
        {% set class = class + ' rounded-full' %}
    {% endif %}
    {% set class = "{} text-{}-content bg-{} hover:bg-{}-focus".format(class, color, color, color) %}
    <button type="{{ type }}"
            x-on:click="$dispatch('{{ dispatch_name }}', '{{ button_content }}')"
            class="{{ class }}">
        {{ button_content }}
    </button>
{% endmacro %}
{#
text-primary-content bg-primary hover:bg-primary-focus border-primary-focus
text-secondary-content bg-secondary hover:bg-secondary-focus border-secondary-focus
text-accent-content bg-accent hover:bg-accent-focus border-accent-focus
text-success-content bg-success hover:bg-success-focus border-success-focus
text-info-content bg-info hover:bg-info-focus border-info-focus
text-warning-content bg-warning hover:bg-warning-focus border-warning-focus
text-error-content bg-error hover:bg-error-focus border-error-focus
#}
