{% macro documentation(macro, inputs, description='') %}
    <h1>{{ macro.name }}</h1>
    <h4 class="text-gray-400">{{ description }}</h4>
    <h4>Import: {{ '{% from components/' + macro.name + '.jinja import ' + macro.name + ' %}' }}</h4>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Parameter</th>
                    <th>Example</th>
                </tr>
            </thead>
            <tbody>
                {% for arg in macro.arguments %}
                    <tr>
                        <td>{{ arg }}</td>
                        <td>{{ inputs[loop.index0] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <h2>Usage</h2>
        {{ macro(*inputs) }}
    </div>
    <div>
        <h2>Usage Code</h2>
        {{ '{{ ' + macro.name + '("' + '", "'.join(inputs) + '") }}' }}
    </div>
{% endmacro %}
