{% from 'components/button.jinja' import button %}
{% from 'svg/svg.jinja' import copy %}
{% macro usage(macro, inputs) %}
    <div>
        <h2>Usage</h2>
        {{ macro(*inputs) }}
    </div>
    <div>
        <h2>Usage Code</h2>
        {% set usage_code = '{{ ' + macro.name + '(<span class="text-green-500">"' + '"</span>, <span class="text-green-500">"'.join(inputs) + '"</span>) }}' %}
        {{ usage_code|safe }}
    </div>
{% endmacro %}
{% macro documentation(macro, inputs, description='') %}
    <h1>{{ macro.name }}</h1>
    <h4 class="text-gray-400">{{ description }}</h4>
    {% set import_text = '{% from "components/' + macro.name + '.jinja" import ' + macro.name + ' %}' %}
    <h4 @copy='navigator.clipboard.writeText("{{ import_text }}").then(function() { console.log("copy") }, function() { console.error("copy failed") });'>
        Import: {{ import_text }}
        {{ button(copy(), 'copy')}}
    </h4>
    {% if 'dispatch_name' in macro.arguments %}
        <div x-data="{ title: 'no click' }" @{{ inputs[macro.arguments.index('dispatch_name') ] }}.window="title = $event.detail">
            <h2 x-text="title"></h2>
        </div>
    {% endif %}
    <div x-data="{ {%- for arg in macro.arguments -%} {{ arg }}: '{{ inputs[loop.index0] }}', {%- endfor -%} }">
        <table>
            <thead>
                <tr>
                    <th>Parameter</th>
                    <th>Example</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for arg in macro.arguments %}
                    <tr>
                        <td>{{ arg }}</td>
                        <td>{{ inputs[loop.index0] }}</td>
                        <td>
                            <input type="text" x-model="{{ arg }}" />
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="usage-div">{{ usage(macro, inputs)}}</div>
    <button hx-get="/macro_usage/{{ macro.name }}"
            hx-trigger="click"
            hx-target="#usage-div"
            hx-swap="innerHTML">
        New Usage
    </button>
{% endmacro %}
