{% extends "base.jinja" %}
{% from 'components/button.jinja' import button %}
{% block title %}
    Components
{% endblock title %}
{% block content %}
    <div class="container p-2">
        <h1 class="text-bold text-3xl">Components</h1>
        <div>
            <h2 class="text-semibold text-xl">Buttons</h2>
            <div x-data="{ clicked: 'none' }"
                 @button-click.window="clicked = $event.detail">
                <h1>
                    Clicked Button: <span x-text="clicked"></span>
                </h1>
                <div>
                    <h3 class="text-semibold text-lg">Colors</h3>
                    {{ button('primary normal rounded', color='primary', variant='normal', shape='rounded') }}
                    {{ button('secondary normal rounded', color='secondary', variant='normal', shape='rounded') }}
                    {{ button('accent normal rounded', color='accent', variant='normal', shape='rounded') }}
                    {{ button('success normal rounded', color='success', variant='normal', shape='rounded') }}
                    {{ button('info normal rounded', color='info', variant='normal', shape='rounded') }}
                    {{ button('warning normal rounded', color='warning', variant='normal', shape='rounded') }}
                    {{ button('error normal rounded', color='error', variant='normal', shape='rounded') }}
                </div>
                <div>
                    <h3 class="text-semibold text-lg">Shapes</h3>
                    {{ button('primary normal rounded', color='primary', variant='normal', shape='rounded') }}
                    {{ button('primary normal square', color='primary', variant='normal', shape='square') }}
                    {{ button('primary normal circle', color='primary', variant='normal', shape='circle') }}
                </div>
                <div>
                    <h3 class="text-semibold text-lg">Outlines</h3>
                    {{ button('primary normal rounded', color='primary', variant='normal', shape='rounded') }}
                    {{ button('primary outline rounded', color='primary', variant='outline', shape='rounded') }}
                </div>
                <div>
                    <h3 class="text-semibold text-lg">Sizes</h3>
                    {{ button('primary normal rounded xs', color='primary', size="xs") }}
                    {{ button('primary normal rounded sm', color='primary', size="sm") }}
                    {{ button('primary normal rounded md', color='primary', size="md") }}
                    {{ button('primary normal rounded lg', color='primary', size="lg") }}
                    {{ button('primary normal rounded xl', color='primary', size="xl") }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
