/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 */
@import "tailwindcss/base";

/**
 * Here we add custom base styles, applied after the tailwind-base
 * classes
 *
 */
@import "@/css/app.scss";


@layer base {
  h1 {
    @apply text-8xl font-bold;

    line-height: 6rem;
  }

  h2 {
    @apply text-7xl font-bold;

    line-height: 4.5rem;
  }

  h3 {
    @apply text-6xl font-bold;

    line-height: 3.75rem;
  }

  h4 {
    @apply text-5xl font-bold;

    line-height: 3rem;
  }

  h5 {
    @apply text-4xl font-semibold;

    line-height: 2.5rem;
  }

  h6 {
    @apply text-3xl font-semibold;

    line-height: 2.25rem;
  }
}
