{% from 'django/forms/inputgroup.jinja' import inputgroup %}
{% from 'account/components/account_box.jinja' import account_box %}
{% from 'components/button.jinja' import button %}
{% extends "base.jinja" %}
{% block head_title %}
    {% trans %}
    Reset Password
{% endtrans %}
{% endblock head_title %}
{% block content %}
    {% set title="Reset Password" %}
    {% set content %}
    {% if request.user.is_authenticated %}
        {% include "account/snippets/already_logged_in.jinja" %}
    {% endif %}
    <p>
        {% trans %}
        Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.
    {% endtrans %}
</p>
<form method="post"
      action="{{ url('account_reset_password') }}"
      class="password_reset">
    {% csrf_token %}
    {{ inputgroup(form) }}
    {{ button("Reset My Password", 'submit') }}
</form>
<p>
    {% trans %}
    Please contact us if you have any trouble resetting your password.
{% endtrans %}
</p>
{% endset %}
{{ account_box(title, content, back='') }}
{% endblock content %}
