{% from "account/components/welcome_box.jinja" import welcome_box %}

{% extends "base.jinja" %}
{% block head_title %}
    {% trans %}
  Sign In
{% endtrans %}
{% endblock head_title %}
{% block content %}
    <div class="container mx-auto">{{ welcome_box() }}</div>
{% endblock content %}
